<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qinyu.mapper.InfoMapper">

    <update id="updateInfoById" parameterType="org.qinyu.entity.Info">
        UPDATE info
        SET title           = #{title},
            source          = #{source},
            time            = #{time},
            name            = #{name},
            gender          = #{gender},
            hometown        = #{hometown},
            birth_date      = #{birthDate},
            politics_status = #{politicsStatus},
            dept            = #{dept},
            death_date      = #{deathDate},
            death_campaign  = #{deathCampaign},
            death_address   = #{deathAddress},
            other           = #{other},
            contact_name    = #{contactName},
            contact_address = #{contactAddress},
            contact_phone   = #{contactPhone},
            contact_email   = #{contactEmail},
            update_time     = now()
        WHERE id = #{id}
    </update>
</mapper>