<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qinyu.mapper.PlaceMapper">

    <update id="update" parameterType="org.qinyu.entity.Place">
        UPDATE place
        SET name         = #{name},
            img          = #{img},
            longitude    = #{longitude},
            latitude     = #{latitude},
            introduction = #{introduction},
            phone        = #{phone},
            address      = #{address},
            hint         = #{hint},
            update_time  = now()
        WHERE id = #{id}
    </update>
</mapper>